<div class="container">
  <div>
    
  </div>
</div>

<hr>

<div class="container">
  <div>
    <h2>
      Add New Child
    </h2>

    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addChildModal">
      Create
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addChildModal" tabindex="-1" aria-labelledby="addChildModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addChildModalLabel">Add New Child</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/insert_child" method="post" enctype="multipart/form-data">
              <%= csrf_meta_tags %>

              <div class="mb-3">
                <label for="first_name_box" class="form-label">First name</label>
                <input type="text" id="first_name_box" name="child[first_name]" class="form-control">
              </div>

              <div class="mb-3">
                <label for="last_name_box" class="form-label">Last name</label>
                <input type="text" id="last_name_box" name="child[last_name]" class="form-control">
              </div>

              <div class="mb-3">
                <label for="date_of_birth_box" class="form-label">Date of birth</label>
                <input type="text" id="date_of_birth_box" name="child[date_of_birth]" class="form-control">
              </div>

              <div class="mb-3">
                <label for="parent_id_box" class="form-label">Parent</label>
                <input type="text" id="parent_id_box" name="child[parent_id]" class="form-control">
              </div>

              <div class="mb-3">
  <label for="images" class="form-label">Images</label>
  <input type="file" id="images" name="child[images_attributes][][image]" multiple>


</div>

              <button type="submit" class="btn btn-primary">Create child</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<hr>

<div class="container">
  <div class="row">
    <% @list_of_children.each do |a_child| %>
    <div class="col-3">
      <a href="/children/<%= a_child.id %>">
        <div class="child-card">
          <% if a_child.images.present? %>
           <% unless a_child.images.empty? %>
  <% if a_child.images.first.image.attached? %>
    <%= image_tag a_child.images.first.image, class: "child-image rounded-circle" %>
  <% end %>
<% end %>


          <% else %>
            <div class="child-image-placeholder"></div>
          <% end %>
        </div>
      </a>
      <div class="child-details">
        <p><strong></strong> <%= "#{a_child.first_name} #{a_child.last_name}" %></p>
        
      </div>
    </div>
    <% end %>
  </div>
</div>


<hr>

<style>
.child-card {
  width: 100%;
  text-align: center;
}

.child-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.child-image-placeholder {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  border-radius: 50%;
}

.child-details {
  margin-top: 10px;
  text-align: center;
}

.child-image.rounded-circle {
  border-radius: 50%;
}

</style>
